.stackClass{
    border-width: 2;
    border-color: gray;
    border-radius: 5;
    width: 90%;
    margin-top: 15;
    background-color: white;
}

.productTitle{
    font-size: 20;
    font-weight: bold;
    margin: 20;
}

.productDescription{
    margin: 20;
}

.btn{
    padding: 10;
    font-size: 25;
    background-color: crimson;
    color: white;
    text-align: center;
    border-radius: 5;
    width: 80%;
}
