<ActionBar title="Layouts">
</ActionBar>

<ScrollView>
<FlexboxLayout
    flexDirection="column"
    justifyContent="flex-start"
    alignItems="center"
    backgroundColor="gray"
>

    <StackLayout class="stackClass" verticalAlignment="top">
        <Image src="~/app/layouts/images/iPhone13.png" class="productImage" ></Image>
        <Label text="iPhone 11 Pro Max 128GB" class="productTitle"></Label>
        <Label textWrap="true" text="iPhone 11 Pro Max 128GB is a powerful phone that you can use" class="productDescription"></Label>
        <Label text="4.5" class="rating"></Label>
        <Label text="$1299.99" class="price"></Label>
        <Button text="Add to Cart" class="btn"></Button>
    </StackLayout>

    <StackLayout class="stackClass" verticalAlignment="top">
        <img src="https://picsum.photos/200/200" class="productImage" >
        <Label text="iPhone 11 Pro Max 128GB" class="productTitle"></Label>
        <Label text="iPhone 11 Pro Max 128GB is a powerful phone that you can use" class="productDescription"></Label>
        <Label text="4.5" class="rating"></Label>
        <Label text="$1299.99" class="price"></Label>
    </StackLayout>

    <StackLayout class="stackClass" verticalAlignment="top">
        <img src="https://picsum.photos/200/200" class="productImage" >
        <Label text="iPhone 11 Pro Max 128GB" class="productTitle"></Label>
        <Label text="iPhone 11 Pro Max 128GB is a powerful phone that you can use" class="productDescription"></Label>
        <Label text="4.5" class="rating"></Label>
        <Label text="$1299.99" class="price"></Label>
    </StackLayout>

    <StackLayout class="stackClass" verticalAlignment="top">
        <img src="https://picsum.photos/200/200" class="productImage" >
        <Label text="iPhone 11 Pro Max 128GB" class="productTitle"></Label>
        <Label text="iPhone 11 Pro Max 128GB is a powerful phone that you can use" class="productDescription"></Label>
        <Label text="4.5" class="rating"></Label>
        <Label text="$1299.99" class="price"></Label>
    </StackLayout>


</FlexboxLayout>
</ScrollView>
